In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier,BaggingClassifier,RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, recall_score

In [3]:
df = pd.read_csv('/content/drive/My Drive/Data/creditcard.csv')
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [4]:
df.shape

(284807, 31)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.919560e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [7]:
df.Class.value_counts(1)*100

0    99.827251
1     0.172749
Name: Class, dtype: float64

The target class is highly imbalanced which will need rebalancing.

In [10]:
y = df.Class
X = df.drop('Class', axis=1)

# setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [11]:
# Modeling the data as is using Logistic Regression
# Train model
lr = LogisticRegression().fit(X_train, y_train)
 
# Predict on training set
lr_pred = lr.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [14]:
# Checking accuracy
print('Accuracy:',accuracy_score(y_test, lr_pred))

Accuracy: 0.9991011488441336

In [15]:
# Checking unique values
predictions = pd.DataFrame(lr_pred)
predictions[0].value_counts()

0    71096
1      106
Name: 0, dtype: int64

In [16]:
# f1 score
f1_score(y_test, lr_pred)

0.7168141592920354

In [17]:
# confusion matrix
pd.DataFrame(confusion_matrix(y_test, lr_pred))

       0   1
0  71057  25
1     39  81

In [18]:
# Recall
recall_score(y_test, lr_pred)

0.675

In [20]:
# train model
rfc = RandomForestClassifier(n_estimators=10).fit(X_train, y_train)

# predict on test set
rfc_pred = rfc.predict(X_test)

accuracy_score(y_test, rfc_pred)

0.9995646189713772

In [21]:
# f1 score
print('F1 Score:',f1_score(y_test, rfc_pred),'\n')

# confusion matrix
print('Confusion Matrix:',pd.DataFrame(confusion_matrix(y_test, rfc_pred)),'\n')

# recall score
print('Recall:',recall_score(y_test, rfc_pred),'\n')

F1 Score: 0.8558139534883721

Confusion Matrix:        0   1
0  71079   3
1     28  92

Recall: 0.7666666666666667

**A Significant improvement in the F1 score and Recall**

### Trying Resampling Techniques

In [22]:
# Oversampling - Creating copies of minority class

from sklearn.utils import resample

In [60]:
# Separate input features and target
y = df.Class
X = df.drop('Class', axis=1)

# setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=27)

# concatenate our training data back together
X = pd.concat([X_train, y_train], axis=1)
X.head()

            Time        V1        V2  ...       V28  Amount  Class
264873  161634.0 -0.395578  1.489129  ... -0.036960    2.74      0
163821  116237.0  1.950487  0.002312  ... -0.072543   38.44      0
72083    54557.0  1.105167 -0.166253  ... -0.008399    1.00      0
196949  131771.0  1.805238  0.961264  ...  0.017622   37.89      0
126213   77959.0  0.835421 -1.191847  ...  0.060910  237.00      0

[5 rows x 31 columns]

In [61]:
# separate minority and majority classes
not_fraud = X[X.Class==0]
fraud = X[X.Class==1]

# upsample minority
fraud_upsampled = resample(fraud,
                          replace=True, # sample with replacement
                          n_samples=len(not_fraud), # match number in majority class
                          random_state=1) # reproducible results

# combine majority and upsampled minority
upsampled = pd.concat([not_fraud, fraud_upsampled])

# check new class counts
upsampled.Class.value_counts()

1    213245
0    213245
Name: Class, dtype: int64

In [62]:
# trying logistic regression again with the balanced dataset
y_train = upsampled.Class
X_train = upsampled.drop('Class', axis=1)

upsampled = LogisticRegression(solver='liblinear').fit(X_train, y_train)

upsampled_pred = upsampled.predict(X_test)

# Checking accuracy
accuracy_score(y_test, upsampled_pred)

0.981517373107497

In [51]:
# f1 score
print('F1 Score:',f1_score(y_test, upsampled_pred),'\n')

# confusion matrix
print('Confusion Matrix:',pd.DataFrame(confusion_matrix(y_test, upsampled_pred)),'\n')

# recall score
print('Recall:',recall_score(y_test, upsampled_pred),'\n')

F1 Score: 0.14766839378238342

Confusion Matrix:        0     1
0  69772  1298
1     18   114

Recall: 0.8636363636363636

In [65]:
# train model
rfc = RandomForestClassifier(n_estimators=10).fit(X_train, y_train)

# predict on test set
rfc_pred = rfc.predict(X_test)

# Checking accuracy
print('Accuracy Score:',accuracy_score(y_test, rfc_pred),'\n')

# f1 score
print('F1 Score:',f1_score(y_test, rfc_pred),'\n')

# recall score
print('Recall:',recall_score(y_test, rfc_pred),'\n')


# confusion matrix
print('Confusion Matrix:\n')
pd.DataFrame(confusion_matrix(y_test, rfc_pred))

Accuracy Score: 0.9995646189713772

F1 Score: 0.8691983122362869

Recall: 0.7803030303030303

Confusion Matrix:

       0    1
0  71068    2
1     29  103

In [66]:
#Downsampling - Removing majority class rows

# still using our separated classes fraud and not_fraud from above

# downsample majority
not_fraud_downsampled = resample(not_fraud,
                                replace = False, # sample without replacement
                                n_samples = len(fraud), # match minority n
                                random_state = 27) # reproducible results

# combine minority and downsampled majority
downsampled = pd.concat([not_fraud_downsampled, fraud])

# checking counts
downsampled.Class.value_counts()

1    360
0    360
Name: Class, dtype: int64

In [67]:
# trying logistic regression again with the undersampled dataset

y_train = downsampled.Class
X_train = downsampled.drop('Class', axis=1)

undersampled = LogisticRegression(solver='liblinear').fit(X_train, y_train)

undersampled_pred = undersampled.predict(X_test)

In [54]:
# Checking accuracy
print('Accuracy Score:',accuracy_score(y_test, undersampled_pred),'\n')

# f1 score
print('F1 Score:',f1_score(y_test, undersampled_pred),'\n')

# confusion matrix
print('Confusion Matrix:',pd.DataFrame(confusion_matrix(y_test, undersampled_pred)),'\n')

# recall score
print('Recall:',recall_score(y_test, undersampled_pred),'\n')

Accuracy Score: 0.9758574197354007

F1 Score: 0.11710323574730355

Confusion Matrix:        0     1
0  69369  1701
1     18   114

Recall: 0.8636363636363636

In [68]:
# train model
rfc = RandomForestClassifier(n_estimators=10).fit(X_train, y_train)

# predict on test set
rfc_pred = rfc.predict(X_test)

# Checking accuracy
print('Accuracy Score:',accuracy_score(y_test, rfc_pred),'\n')

# f1 score
print('F1 Score:',f1_score(y_test, rfc_pred),'\n')

# recall score
print('Recall:',recall_score(y_test, rfc_pred),'\n')


# confusion matrix
print('Confusion Matrix:\n')
pd.DataFrame(confusion_matrix(y_test, rfc_pred))

Accuracy Score: 0.9793685570630039

F1 Score: 0.13333333333333333

Recall: 0.8560606060606061

Confusion Matrix:

       0     1
0  69620  1450
1     19   113

In [69]:
#SMOTE or Synthetic Minority Oversampling Technique is a popular algorithm to creates sythetic observations of the minority class.

from imblearn.over_sampling import SMOTE

# Separate input features and target
y = df.Class
X = df.drop('Class', axis=1)

# setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=27)

sm = SMOTE(random_state=27, ratio=1.0)
X_train, y_train = sm.fit_sample(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [56]:
smote = LogisticRegression(solver='liblinear').fit(X_train, y_train)

smote_pred = smote.predict(X_test)

In [58]:
# Checking accuracy
print('Accuracy Score:',accuracy_score(y_test, smote_pred),'\n')

# f1 score
print('F1 Score:',f1_score(y_test, smote_pred),'\n')

# recall score
print('Recall:',recall_score(y_test, smote_pred),'\n')


# confusion matrix
print('Confusion Matrix:\n')
pd.DataFrame(confusion_matrix(y_test, smote_pred))

Accuracy Score: 0.9858571388444145

F1 Score: 0.18461538461538463

Recall: 0.8636363636363636

Confusion Matrix:

       0    1
0  70081  989
1     18  114

In [70]:
# train model
rfc = RandomForestClassifier(n_estimators=10).fit(X_train, y_train)

# predict on test set
rfc_pred = rfc.predict(X_test)

# Checking accuracy
print('Accuracy Score:',accuracy_score(y_test, rfc_pred),'\n')

# f1 score
print('F1 Score:',f1_score(y_test, rfc_pred),'\n')

# recall score
print('Recall:',recall_score(y_test, rfc_pred),'\n')


# confusion matrix
print('Confusion Matrix:\n')
pd.DataFrame(confusion_matrix(y_test, rfc_pred))

Accuracy Score: 0.9995365298727564

F1 Score: 0.8685258964143426

Recall: 0.8257575757575758

Confusion Matrix:

       0    1
0  71060   10
1     23  109

In [80]:
NB=GaussianNB()
KNN=KNeighborsClassifier(n_neighbors=43,weights='distance')
DT=DecisionTreeClassifier(criterion='gini',max_depth=3,min_samples_leaf=8,random_state=0)
Bag=BaggingClassifier(n_estimators=26,random_state=0)
AB=AdaBoostClassifier(n_estimators=10,random_state=0)
ABL=AdaBoostClassifier(base_estimator=smote,n_estimators=50,random_state=0)
GB=GradientBoostingClassifier(n_estimators=59)

In [81]:
models = []
models.append(('NaiveBayes', NB))
models.append(('KNN',KNN))
models.append(('DecisionTree',DT))
models.append(('BaggingClassifier',Bag))
models.append(('AdaBoost',AB))
models.append(('BoostedLR',ABL))
models.append(('GBoost',GB))

In [82]:
for name, model in models:
    print('\n',name,':\n')
    m = model.fit(X_train, y_train)
    # predict on test set
    ypred = m.predict(X_test)
    
    # Checking accuracy
    print('Accuracy Score:',accuracy_score(y_test, ypred),'\n')
    
    # f1 score
    print('F1 Score:',f1_score(y_test, ypred),'\n')
    
    # recall score
    print('Recall:',recall_score(y_test, ypred),'\n')
    
    # confusion matrix
    print('Confusion Matrix:\n')
    print(pd.DataFrame(confusion_matrix(y_test, rfc_pred)))

 NaiveBayes :

Accuracy Score: 0.9927389680065166

F1 Score: 0.27692307692307694

Recall: 0.75

Confusion Matrix:

       0    1
0  71060   10
1     23  109

 KNN :

Accuracy Score: 0.8956489986236341

F1 Score: 0.018234672304439748

Recall: 0.5227272727272727

Confusion Matrix:

       0    1
0  71060   10
1     23  109

 DecisionTree :

Accuracy Score: 0.9892980534254656

F1 Score: 0.22874493927125508

Recall: 0.8560606060606061

Confusion Matrix:

       0    1
0  71060   10
1     23  109

 BaggingClassifier :

Accuracy Score: 0.9988202578579254

F1 Score: 0.7123287671232875

Recall: 0.7878787878787878

Confusion Matrix:

       0    1
0  71060   10
1     23  109

 AdaBoost :

Accuracy Score: 0.9772197410185107

F1 Score: 0.12513484358144553

Recall: 0.8787878787878788

Confusion Matrix:

       0    1
0  71060   10
1     23  109

 BoostedLR :

Accuracy Score: 0.9850846886323418

F1 Score: 0.1780185758513932

Recall: 0.8712121212121212

Confusion Matrix:

       0    1
0  71060   10
1     23  109

 GBoost :

Accuracy Score: 0.9922193196820314

F1 Score: 0.29336734693877553

Recall: 0.8712121212121212

Confusion Matrix:

       0    1
0  71060   10
1     23  109